@model DoAn.Models.CamNangDuLich

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="Thongtin" style="text-align:center; font-size:16px">
    <div id="tenCamNang" style="font-size:22px">@Model.TenCNDL</div>
    <img src="@Url.Content(Model.ImageCNDL)" style="width:1000px; height:700px" />
    <div id="NoiDungTT">Nội Dung Tin Tức:@Model.NoiDungCNDL</div>
    <div id="NgayNhap">Ngày Cập Nhật:@Model.NgayNhapCN</div>
</div>

<p>
    @Html.ActionLink("Trở về", "Index")
</p>
