@model IEnumerable<DoAn.Models.TinTuc>
@helper Truncate(string input, int length)
    {
    if(input.Length<length)
    {
        @input
    }
    else
    {
        @input.Substring(0,length)<text>...</text>
    }
    }
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "XemTinTuc", FormMethod.Get))
{
    <!-- search box start -->
    <div class="container">
        <div class="search_box">
            <h1 style="text-align:center;">Tin Tức Về Du Lịch Trong Nước</h1>
        </div>
    </div>
    <!-- search box end -->

}

<div class=" layout_padding promoted_sectipon">
    <div class="container">
        <h1 class="promoted_text" style="border-bottom: 5px solid #4bc714;">Danh Sách</h1>
        <div class="images_main">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="images"><img src="@Url.Content(item.ImageTT)" style="width: 100%;"></div>
                        <button class="promoted_bt">
                            @Truncate(item.TenTT,10)
                        </button>
                        <button class="mobile_bt">
                            @Html.ActionLink("Chi Tiết", "Details", new { id = item.ID_TT})
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
