
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="text-align:center">
    <hr />
    <hr />
    <br />
    <h2>Đặt Vé Thành Công</h2>
    <br />
    <h4>Vui lòng chờ trong ít phút, CSKH sẽ gọi điện thoại xác nhận lại thông tin của bạn.</h4>
    <h5>Cảm ơn đã lựa chọn dịch vụ!!!</h5>
    <br /><br />
    <a class="btn btn-success" href="@Url.Action("Index","Home")">Travel.....</a>
</body>


